.login-form {
  display: block;
  margin: 100px auto;
  border: 1px solid rgb(217, 217, 217);
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  .form-input {
    display: block;
    margin: 10px 0px;
    text-align: center;
    input {
      width: 300px;
      height: 21px;
      margin: 12px 0px;
      display: block;
    }
    label {
      font-size: 18px;
      display: block;
      color: #d9d9d9;
    }
    button {
      display: block;
      margin: 0px auto;
      width: 150px;
      height: 36px;
      background: #000;
      border: 0px none;
      color: #fff;
    }
  }
  .warning {
    background: #f9adad;
    width: 282px;
    padding: 10px;
    display: block;
  }
}
#account_block {
  color: #fff;
  float: right;
  .account_info {
    display: block;
    font-weight: 300;
  }
  .logout_link {
    display: block;
    font-weight: 200;
  }
}