.login-form {
  display: block;
  margin: 100px auto;
  border: 1px solid rgb(217, 217, 217);
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  .form-input {
    display: block;
    margin: 10px 0;
    text-align: center;
    input {
      width: 300px;
      height: 21px;
      margin: 12px 0;
      display: block;
    }
    label {
      font-size: 18px;
      display: block;
      color: #d9d9d9;
    }
    button {
      display: block;
      margin: 0px auto;
      width: 150px;
      height: 36px;
      background: #000;
      border: 0 none;
      color: #fff;
    }
  }
  .warning {
    background: #f9adad;
    width: 282px;
    padding: 10px;
    display: block;
  }
}
#account_block {
  color: #fff;
  margin: 0 20px;
  position: absolute;
  right: 0;
  .account_info {
    display: block;
    font-weight: 300;
  }
  .logout_link {
    display: block;
    font-weight: 200;
    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dotted #fff;
        &:hover {
            color: #d9d9d9;
        }
    }
  }
}
.wrapper {
    width: 960px;
    margin: 50px auto;
    display: block;
    .horizontal-menu {
        margin-bottom: 35px;
        li {
            display: inline-block;
            margin: 0 20px;
            a {
                padding: 6px 20px;
                border: 1px solid #d9d9d9;
                border-radius: 20px;
                color: #d9d9d9;
                text-decoration: none;
                &:hover {
                    color: #5A5A5A;
                    border: 1px solid #5A5A5A;
                }
            }
            .active {
                color: #fff;
                border: 1px solid #000;
                background: #000;
            }
        }
    }
    table {
        border-collapse: collapse;
        td {
            border: 1px solid #000;
            padding: 5px;
            text-align: center;
        }
        th {
            border: 1px solid #000;
            padding: 5px;
        }
    }
    .warning {
        background: #f9adad;
        padding: 10px;
        display: block;
    }
    .btn {
        display: block;
        cursor: pointer;
        margin: 10px 0;
        width: 150px;
        height: 36px;
        background: #000;
        border: 0px none;
        color: #fff;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
    }
    .edit-form {
        .form-input {
            display: block;
            margin: 10px auto;
            text-align: center;
            input {
                width: 300px;
                height: 21px;
                margin: 12px auto;
                display: block;
            }
            label {
                font-size: 18px;
                display: block;
                color: #d9d9d9;
            }
            .btn {
                display: block;
                cursor: pointer;
                margin: 0 auto;
                width: 150px;
                height: 36px;
                background: #000;
                border: 0 none;
                color: #fff;
            }
        }
    }
    .total-shares {
        display: block;
        font-weight: normal;
        font-size: 23px;
    }
    .shares-detail {
        display: block;
        border-bottom: 1px dotted;
        padding: 8px 0;
        color: #9F9D9D;
    }
}
.barhead {
    display: block;
    margin: 20px 0;
    font-weight: normal;
    font-size: 23px;
}
#sharesbar {
    background-color: white;
    width: 960px;
    height: 400px
}
.legends {
    margin: 30px 0;
    .fb-legend {
        border-left: 20px solid #3B5998;
        padding: 0 10px; 
    }
    .tw-legend {
        border-left: 20px solid #55ACEE;
        padding: 0 10px;         
    }
    .ln-legend {
        border-left: 20px solid #313335;
        padding: 0 10px;               
    }
    .gp-legend {
        border-left: 20px solid #D34836;
        padding: 0 10px;           
    }
}
